.about-this-site {
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%); */
}

.about-me {
  height: 100vh;
}

.button {
  background-color: rgb(100, 181, 246);
}

.button:hover {
  background-color: rgb(144, 202, 249);
}
