body {
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  line-height: 1.5;
}

.button {
  background-color: rgb(100, 181, 246);
}

.button:hover {
  background-color: rgb(144, 202, 249);
}
